<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]  | Clinic Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- App favicon -->
    <link rel="shortcut icon" href="/techui/layouts/assets/favicon-3ab1de74.ico">

    <!-- Theme Config Js -->
    <!-- Font Family -->
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap" rel="stylesheet">
    <script type="module" src="~/js/app.js"></script>
    <link rel="stylesheet" href="~/css/custom.css">
</head>

<body class="authentication-bg">
    @RenderBody()
    <!-- end container -->

    <footer class="footer footer-alt fw-medium bg-transparent">
        <span class="text-muted">
            <script>document.write(new Date().getFullYear())</script> © Clinic Management System
        </span>
    </footer>
</body>

</html>
