.app-sidenav {
    top: .75rem;
    position: sticky;
    z-index: 1000;
    height: calc(100vh - 1.5rem);
    min-height: calc(100vh - 1.5rem);
    max-height: calc(100vh - 1.5rem);
    width: var(--tz-sidenav-width);
    min-width: var(--tz-sidenav-width);
    padding-bottom: var(--tz-topbar-height);
    transition: all .15s ease-in-out;
    background: var(--tz-sidenav-bg);
    box-shadow: var(--tz-box-shadow);
    border-radius: var(--tz-border-radius);
    border: 0px solid var(--tz-border-color);
}

.logo-box {
    top: 0;
    position: sticky;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    height: var(--tz-topbar-height);
    transition: all .15s ease-in-out;
    padding: 0 var(--tz-sidenav-item-padding-x);
    border-radius: var(--tz-border-radius);
}

.logo-box .logo-sm, .logo-box .logo-light {
    display: none;
}

.logo-box .logo-dark, html[data-sidenav-color=brand] .app-sidenav .logo-box .logo-light, html[data-sidenav-color=dark] .app-sidenav .logo-box .logo-light, html[data-bs-theme=dark] .app-sidenav .logo-box .logo-light {
    display: block;
}

.logo-box .logo-lg {
    height: var(--tz-logo-lg-height);
}
